################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/medicalApp_sem2/.vs/medicalApp_sem2/v15
