################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/medicalApp_sem2
/miniApp_sem2/.vs
/miniApp_sem2/miniApp_sem2.sln
/miniApp_sem2/miniApp_sem2/miniApp_sem2.vcxproj
/miniApp_sem2/miniApp_sem2/miniApp_sem2.vcxproj.user
/miniApp_sem2/miniApp_sem2/miniApp_sem2.vcxproj.filters
/miniApp_sem2/miniApp_sem2/ward.txt
/miniApp_sem2/miniApp_sem2/patient.txt
/miniApp_sem2/miniApp_sem2/doctor.txt
/miniApp_sem2/Debug
/miniApp_sem2/miniApp_sem2/Debug