################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/medicalApp_sem2/.vs/medicalApp_sem2/v15
/medicalApp_sem2/medicalApp_sem2/doctor.txt
/medicalApp_sem2/medicalApp_sem2/patient.txt
/medicalApp_sem2/medicalApp_sem2/Debug
/medicalApp_sem2/Debug